<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DevpGridConnectivity" value="Server=localhost;User Id=root;Password=Creant@123;Database=gridconnectivity" />
    <!--<add key="DevpGridConnectivity" value="Server=172.152.1.9;User Id=grid;Password=gcMsetcl@311022#;Database=gridconnectivity" />-->
    <!--<add key="DevpGridConnectivity" value="Server=172.152.2.4;User Id=grid;Password=gcMsetcl@311022#;Database=gridconnectivity" />-->
    <add key="MerchantID" value="MSETCLRC" />
    <add key="CurrencyType" value="INR" />
    <add key="SecurityID" value="msetclrc" />
    <add key="ChecksumKey" value="rG6vWbGA832e" />
    <add key="RU" value="http://localhost:58872/UI/Cons/PaymentReceipt.aspx" />
    <add key="RUCommit" value="http://localhost:58872/UI/MSKVY/PRCommit.aspx" />
    <add key="MSKVYRU" value="http://localhost:58872/UI/MSKVY/MSKVYPayRegReceipt.aspx" />
    <add key="MSKVYCOMMRU" value="http://localhost:58872/UI/MSKVY/MSKVYPayCommReceipt.aspx" />
    <add key="MSKVYSPDRU" value="http://localhost:61728/UI/MSKVYSPD/MSSPDReceipt.aspx" />
    <add key="PGURL" value="https://pgi.billdesk.com/pgidsk/PGIMerchantPayment" />
    <add key="PGQUERYURL" value="https://www.billdesk.com/pgidsk/PGIQueryController" />
    <add key="EmailServer" value="smtp.office365.com" />
    <add key="EmailServerPort" value="465" />
    <add key="MMEmailID" value="progit4000@mahatransco.in" />
    <add key="MMCCEmailID" value="sait4000@mahatransco.in;" />
    <add key="CESTU" value="ahishbtribhuwan@gmail.com" />
    <!--<add key="MMEmailID" value="ee12prj@mahatransco.in" />
    <add key="MMCCEmailID" value="sesys@mahatransco.in;ee12prj@mahatransco.in;adee2sys@mahatransco.in" />
    <add key="CESTU" value="cestu@mahatransco.in"/>-->
    <add key="ConventionalFees" value="2" />
    <add key="NonConventionalFees" value="1" />
    <add key="SPVFees" value="1" />
    <add key="SPDFees" value="1" />
    <add key="MEDAKey" value="79c016936b0965b0" />
    <add key="MEDAGETUSRDETURL" value="https://regrid.mahadiscom.in/swPortal/getUsrDtls" />
    <add key="MEDAGETPRJDETURL" value="https://regrid.mahadiscom.in/swPortal/getProjectDtls" />
    <add key="MEDASAVETOMEDAURL" value="https://regrid.mahadiscom.in/swPortal/saveToMedaGcAppln" />
    <!--<add key="MEDAGETUSRDETURL" value="https://regridmeda.mahadiscom.in/swPortal/getUsrDtls" />
    <add key="MEDAGETPRJDETURL" value="https://regridmeda.mahadiscom.in/swPortal/getProjectDtls" />
    <add key="MEDASAVETOMEDAURL" value="https://regridmeda.mahadiscom.in/swPortal/saveToMedaGcAppln" />-->
    <add key="MEDAEmail" value="scp@mahaurja.com" />
    <add key="SMSURL" value="http://164.52.205.46:6005/api/v2/SendSMS" />
    <add key="SMSSENDER" value="CESTU" />
    <add key="SMSAPIKEY" value="J3OFLVtym38L6HF7LXZlTFlaEIUvvmyDP90r2DasRqI%3D" />
    <add key="SMSCLIENTID" value="57b6632f-ac04-41cf-8907-2ba861acfc35" />
    <add key="SMSUserID" value="mahatransco" />
    <add key="SMSPwd" value="mahatransco@W3" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="eSignPOSTXMLAPI" value="https://gctest.mahatransco.in/op/api/v1.0/postxml" />
    <add key="eSignToken" value="9EC4709C8A5F10F0D56A72AB5EC" />
    <add key="eSignKey" value="c1d6e4fc7422656509d602297cc477633a02bb7d190c12" />
    <add key="ClickHereURL" value="https://gctest.mahatransco.in:9999/UI/Emp/EmpLogin.aspx" />
    <add key="reminderCCEmail" value="progit4000@mahatransco.in;ee12prj@mahatransco.in;sait4000@mahatransco.in;" />
    <add key="DOP" value="progit4000@mahatransco.in" />
  </appSettings>
  <log4net>
    <root>
      <level value="Error" />
      <appender-ref ref="LogFileAppender" />                 
    </root>
      <appender name="LogFileAppender" type="log4net.Appender.FileAppender"><param name="File" value="Logs\\Log4Net.log" /><param name="MaxSizeRollBackups" value="10" /><param name="MaximumFileSize" value="1000" /><param name="RollingStyle" value="Size" /><param name="StaticLogFileName" value="true" /><layout type="log4net.Layout.PatternLayout"><conversionPattern value="&#xA;Error Details :-&#xA;  Date:  %date &#xA;  Thread: [%thread]&#xA;  Level: %-5level &#xA;  Logger: %logger &#xA;  Message: %message%newline%newline**********************************************************" /></layout></appender><logger name="File"><level value="All" /><appender-ref ref="LogFileAppender" /></logger>      
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <sessionState mode="InProc" timeout="10" />
    <httpRuntime executionTimeout="9999" maxRequestLength="2097151" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <webServices>
      <protocols>
        <add name="HttpGet" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SendEmailSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51233/SendEmail.asmx" binding="basicHttpBinding" bindingConfiguration="SendEmailSoap" contract="SendEmailService.SendEmailSoap" name="SendEmailSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>